<section fxLayout="">
<H2>Properties:</H2>
  <button mat-button (click)="addProperty()">Add Property</button>
</section>
<H3>Liked Properties: <span>{{totalPropertyLikes}}</span></H3>
<app-properties-thumbnail *ngFor="let propertyHolding of propertyHoldings"
  #thumbnailComponent
  class="property-thumbnail-card"
  (liked)="handleLiked($event)"
  [propertyHolding]="propertyHolding">
</app-properties-thumbnail>
<button (click)="thumbnailComponent.logFoo()">Log Foo!</button>
<a [routerLink]="['/properties/table']">Table View</a>
