<div fxFlexFill fxLayout="row" fxLayoutAlign="space-evenly">
  <mat-card>
    <mat-card-title>A Dashboard Element</mat-card-title>
    <mat-card-content>Some Dashboard Content</mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Another Dashboard Element</mat-card-title>
    <mat-card-content>More Dashboard Content</mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Yet Another Dashboard Element</mat-card-title>
    <mat-card-content>Still More Dashboard Content</mat-card-content>
  </mat-card>
</div>
